<!DOCTYPE html>
<html>

  <head>
    <title>Title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for("static", filename="index.css")}}">
  </head>

  <body>
    <div class="header">
      <h1>Продажа уникальных товаров</h1>
      <p>созданных мастерами</p>
      <img src>
    </div>
    <div class="navbar">
      <a href="test.html">уникальные товары для дома</a>
      <a href="test2.html">уникальные игрушки</a>
      <a class="right" href="test3.html">цена</a>
    </div>

    <div class="row">
      <div class="main">
        <h2>Как создать уникальный продукт в стиле Hand made?</h2>
        <h5>Март, 2023</h5>
        <img src="https://trts24.ru/uploads/article/60f5964c63e66.jpg"
          height=35%>
        <p>Создание уникального продукта в стиле Hand made - это отличный способ
          проявить свой творческий потенциал и зарабатывать на своем хобби.</p>
        <p>Важно начать с выбора материалов, которые будут использоваться для
          создания изделия. Можно экспериментировать с различными материалами,
          такими как дерево, текстиль, кожа или металл.Далее нужно определиться
          с основной идеей продукта и затем разработать дизайн. Важно учитывать
          потребности целевой аудитории и создавать продукт, который будет иметь
          высокую ценность для покупателя.Когда дизайн готов, можно приступить к
          созданию самого изделия. В этом процессе важно использовать свои
          навыки ручной работы и техники, чтобы получить качественный результат.
          Наконец, после завершения изготовления продукта необходимо правильно
          его презентовать. Хорошие фотографии и описание продукта помогут
          привлечь внимание покупателей.
          В целом, создание уникального продукта в стиле Hand made - это
          отличный способ проявить свой творческий потенциал и зарабатывать на
          своем хобби.</p>
      </div>

      <div class="side">
        <h2>О нас</h2>
        <h5>Наша команда:</h5>
        <img
          src="https://img.freepik.com/premium-photo/top-viewthe-company-s-employees-are-giving-each-other-high-five_252847-41578.jpg"
          height=40%>
        <p>Миссия нашего маркетплейса, приносить пользу мастерам желающим
          продавать товары ручной работы и покупателям желающим приобрести
          товары от мастеров.На сайте мастер получает собственный
          интернет-магазин, а покупатель возможность найти и купить
          эксклюзив.</p>
      </div>

    </body>

  </html>
